footer
  .container.text-center
    p.float-left Developed with love and care by BreziCode
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/brezuicabogdan/iot_monitor.git') IoT Monitor on GitHub
      li.list-inline-item
        a(href='https://github.com/brezuicabogdan/iot_monitor/issues') Issues
