footer
  .container.text-center
    p.float-left Developed with love and care by BreziCode
    ul.float-right.list-inline
      li.list-inline-item
        a(href='#') GitHub Project
      li.list-inline-item
        a(href='#') Issues
